<nav class="navbar navbar-expand-lg navbar-light d-flex p-2 " style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://github.com/NickShore111">Nicholas Shore</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/newscatcher/">World Voice</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/newscatcher/technologies/">Technologies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/newscatcher/methods/">Methods</a>
        </li>
        </ul>
        <span class="navbar-text">
        API Request Handling and Data Visualization Coding Portfolio Project
        </span>
    </div>
    </div>
</nav>